<div class="jumbotron">

  <img class="img-responsive img-rounded" src="images/do-it.png"><br>

  <p class="lead">
    Never Say Never!
  </p>
</div>
<div>
  <form class="">
    <div class='form-group'>
      <input type="text" placeholder="What needs to be done?" class="form-control" ng-model="newTodo.item" autofocus>
    </div>
    <button type="submit" class="btn btn-sm btn-success" ng-click="create()">Create<span
      class="glyphicon glyphicon-ok"></span></button>
  </form>
</div>
<div class="todo-list">
  <ul>
    <li ng-repeat="item in todoList" editable-text="item"><span class="lead">{{item}}</span>
      <button type="button" class="btn btn-xs btn-info">Edit</button>
      <button ng-click="delete(item)" type="button" class="btn btn-xs btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
    </li>
  </ul>
</div>

